{% extends "layout.html" %}

{% block content %}

<h2>About Rail Roads</h2>
<br>
<ul>
    <li><h4>Overview</h4></li>
    <li>railRoads is a choose your own adventure game about university life. The game is designed to determine how certain decision making behaviours influence the experience a student might have at university.</li>
    <li><h4>Purpose</h4></li>
    <li>This project could be used as a tool for prospective or lower year university students to gain insight on how certain types of decision making behaviours could influence aspects of their university experience.</li>
</ul>
{% endblock %}
