{% extends "layout.html" %}

{% block content %}

{# <div class="row"> #}
{#     <p>Railroads is a choose your own adventure game about university life. The game is designed to determine how certain decision making behaviours influence the experience a student might have at university.</p> #}
{# </div> #}
    <div class="row">
        <div class="col s12 m4 l8">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Railroads</span>
              <p>Railroads is a choose your own adventure game about university life. The game is designed to determine how certain decision making behaviours influence the experience a student might have at university.</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('survey') }}">Get started</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
